article#a1 {
	background-color: red;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	font-color: black;
	line-height: 2.25em;
	padding: 1em;
	border-radius: 10%; 
}

article#a2 {
	background-color: green;
	font-family: 'Arima Madurai', cursive;
	font-size: 2em;
	font-color: white;
	line-height: 1;
	padding: 2em;
	border-radius: 13%; 
}

article#a3 {
	background-color: blue;
	font-family: 'Frank Ruhl Libre', sans-serif;
	font-size: 3em;
	font-color: gray;
	line-height: 2;
	padding: 2.5em;
	border-radius: 20%;

}

article#a4 {
	background-color: yellow;
	font-family: 'Lato', sans-serif;
	font-size: 4em;
	font-color: green;
	line-height: 3;
	padding: 3em;
	border-radius: 14%; 
}

article#a5 {
	background-color: purple;
	font-family: 'Slabo 27px', serif;
	font-size: 5em;
	font-color: orange;
	line-height: 4;
	padding: 3.25em;
	border-radius: 50%; 
}